{% extends "shelfs/base.html" %}
{% block content %}
<div class="container text-center d-flex flex-column justify-content-center align-items-center mt-5">
    <h1 class="">{{ object.title }} x{{ object.quantity }}</h1>

    <img src="{{ object.image.url }}" class="img-thumbnail" style="width: 300px; height: auto;">
    <span class="text-muted fw-light mb-3">Added on {{ object.date }}</span>

    <div class="bg-body-secondary border rounded w-50 align-self-center">
        {{ object.content }}
    </div>

    <a href="{% url 'shelfr-item-update' shelf_pk=object.shelf.id pk=object.pk %}">
    <button type="button" class="btn btn-outline-secondary position-absolute bottom-0 end-0 m-1">Update</button>
    </a>
</div>
{% endblock content %}
