{% extends "shelfs/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="container m-5">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                    {{ form|crispy }}
            </fieldset>
            <fieldset class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
                {% if 'update' in request.path %}
                <a class="btn btn-outline-secondary" href="{{ cancel_url }}">Cancel</a>
                {% endif %}
            </fieldset>
        </form>
    </div>

{% endblock content %}
