{% extends "users/base.html" %}
  {% block head_content %}
    <title>Logout</title>
    <link href="../static/signup.css" rel="stylesheet">
  {% endblock head_content %}

  {% block content %}
  {% load crispy_forms_tags %}
  <form method="POST">
    <img class="mb-4" src="./static/images/flemo.png" alt="" width="40%" height="40%">  
    <h1 class="h3 mb-3 fw-normal">Sign up</h1>

    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy }}    
    </fieldset>

    <div class="form-group">
      <button class="btn btn-primary" type="submit" style="width:330px;">Sign Up</button>
    </div>

  </form>
  <div class="border-top pt-3 mt-3">
    <small class="text-muted">Already have and account? <a href="{% url 'login' %}" class="ml-2">Sign In</a></small>
  </div>
  {% endblock content %}  